
astroid==2.15.0
async-timeout==4.0.3
autopep8==1.6.0
bidict==0.22.1
blinker==1.6.3
certifi==2023.7.22
charset-normalizer==3.3.1
click==8.1.7
cloudpickle==3.0.0
colorama==0.4.6
decorator==4.4.2
dill==0.3.6
docstring-to-markdown==0.12
flake8==6.0.0
Flask==3.0.0
Flask-Cors==4.0.0
Flask-SocketIO==5.3.6
gunicorn==21.2.0
gym==0.26.2
gym-notices==0.0.8
gym-super-mario-bros==7.4.0
h11==0.14.0
idna==3.4
imageio==2.31.6
imageio-ffmpeg==0.4.9
importlib-metadata==6.8.0
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.3.2
MarkupSafe==2.1.3
mccabe==0.7.0
moviepy==1.0.3
nes-py==8.2.1
numpy==1.26.1   
# opencv-python==4.8.0.76
opencv-python-headless
packaging==23.0
Pillow==10.0.1
platformdirs==3.1.1
pluggy==1.0.0
proglog==0.1.10

pycodestyle==2.10.0
pydocstyle==6.2.3
pyflakes==3.0.1
pyglet==1.5.21
pylint==2.17.1
python-engineio==4.8.0
python-lsp-server==1.7.1
python-socketio==5.10.0
pytoolconfig==1.2.5
redis==5.0.1
requests==2.31.0
rope==1.7.0
simple-websocket==1.0.0
snowballstemmer==2.2.0
spinup==0.1
tomli==2.0.1
tomlkit==0.11.6
tqdm==4.66.1
urllib3==2.0.7
Werkzeug==3.0.1
whatthepatch==1.0.4
wsproto==1.2.0
zipp==3.16.2
